@media only screen and (max-width: 576px) {
  .main {
    max-width: 100%;
  }
}

body {
  font: 14px sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
.main {
  min-height: 100%;
}

.container {
  padding: 0;
}

/* ======================================================SIDEBAR */
#sidebarMenu {
  height: 100vh;
  width: 300px;
  position: fixed;
  top: 0px;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.sidebar-brand a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #3f3f3f;
  text-decoration: none;
  padding: 20px 0;
  display: block;
  text-align: center;
}

.list-group-item {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #3f3f3f;
  transition: all 0.3s ease;
  text-decoration: none;
}

.list-group-item:hover {
  background-color: #162b40;
  color: #c5c5c5;
}

.active {
  background-color: #162b40 !important;
  color: #c5c5c5 !important;
}
.active:hover {
  background-color: #162b40 !important;
  color: #c5c5c5;
}

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.5;
  transition: 0s;
}
/* ========================================================SIDEBAR */

.btn-logout {
  padding: 10px 20px;
  border-width: 1px;
  border-color: #162b40;
  color: #162b40;
}

#add-user-btn {
  margin-bottom: 10px;
  background-color: #162b40;
  border-color: #162b40;
  color: #fff;
  font-weight: bold;
}

#add-user-btn:hover {
  background-color: #27c589;
  border-color: #27c589;
}

.btn-add {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #162b40;
  border-color: #162b40;
  color: #fff;
  font-weight: bold;
}

.btn-add:hover {
  background-color: #27c589;
  border-color: #27c589;
  color: #fff;
}

.btn-delete {
  padding: 3px;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #162b40;
  align-content: center;
}

.btn-delete:hover {
  background-color: #e95050;
  border-color: #e95050;
  color: #fff;
}

.btn-logout:hover {
  background-color: #ff5757;
  border-color: #162b40;
}

.table-responsive {
  max-height: 185px;
}

.container-fluid {
  padding: 50px;
  margin-left: 8%;
}

.card {
  border: none;
  margin-top: 50px;
  border-radius: 10px;
  background-color: rgba(197, 197, 197, 0.7);
  box-shadow: 0px 3px 3px #c5c5c5;
}

.card-header {
  border-radius: 10px 10px 0 0;
  background-color: rgba(197, 197, 197, 0.7);
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  color: #162b40;
}

.table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  background-color: #162b40;
  box-shadow: 0px 3px 3px rgba(197, 197, 197, 0.7);
  border-radius: 10px;
}
.table td,
.table th {
  text-align: center;
}

.table thead th {
  background-color: #c5c5c5;
  color: #162b40;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  border-top: none;
}

.table tbody {
  color: #ffffff;
}

.table tbody td:hover {
  color: #162b40;
}

.table tbody tr:hover {
  background-color: rgba(197, 197, 197, 0.7);
  color: #162b40;
}

.table-card {
  display: card;
}

.hide-table {
  display: none;
}

#formCont .container {
  font-weight: bold;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: rgba(242, 242, 242, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #383838;
}

.form-label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  border-radius: 0;
  border: none;
  background-color: #f2f2f2;
  box-shadow: none;
  font-size: 1.1rem;

  margin-bottom: 1rem;
}

#encryptBtn,
#decryptBtn {
  border-radius: 0;
  background-color: #162b40;
  border-color: #162b40;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 2rem;
  margin-top: 1rem;
}
#encryptBtn:hover,
#decryptBtn:hover {
  background-color: #7286d3;
  border-color: #7286d3;
}

#encryptBtn:disabled,
#decryptBtn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.modal-body {
  font-size: 1.1rem;
}
input[type="file"] {
  overflow: hidden;
}
input[type="password"],
input[type="file"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}
